<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
</head>
<body>
<h1>Dear friend,,</h1>
<p>Thanks for joining the We Send Email waitlist.</p>
<p><b>What is We Send Email again?</b></p>
<p>We Send Email Inc. is an all hooman-powered platform that helps you spread your news via emails in a clean, clear,
    fast, dynamic and secure way.</p>
<p>We appreciate your patience, and will email you when our product is ready.</p>
<p>If you have any questions or feedback, please don't hesitate to reach out to us at <a
        href="mailto:support@wesendmail.online">support@wesendmail.online</a>. We'd love to hear from you!</p>
<p>Our Best,</p>
<p>The We Send Email Team</p>
</body>
</html>