<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
</head>
<body>
<p>Dear friend,</p>
<p>Thanks for joining the We Send Email waitlist.</p>
<p><b>What is We Send Email again?</b></p>
<p><b>We Send Email Inc.</b> is an all AI-powered platform that helps you spread your news via emails in a <b><i>clean, clear, fast, dynamic</i></b> and <b><i>secure</i></b> way.</p>
<p>We appreciate your patience, and will email you when our product is ready.</p>
<p>If you have any questions or feedback, please don't hesitate to reach out to us at <a
        href="mailto:support@wesendmail.online">support@wesendmail.online</a>. We'd love to hear from you!</p>
<p>Our Best,</p>
<p>The We Send Email Team</p>
</body>
</html>